extends base/baseDefault
block headContent
    title #{title}
    script(src="/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
block bodyContent
    nav(class="navbar navbar-dark bg-dark")
            div(class="container-fluid")
                        a(class="navbar-brand" href="#") Sample App
                        div
                            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                                li(class="navbar-item")
                                    a(class="nav-link" href="/") Home
    div(class="container-fluid text-white")
        div(class="container-fluid")
            if !cookie
                p No cookie! Post a new one from the home page!
            else
                p Content in cookie: #{cookie}